<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.transportation4oku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transportation4OKU">
        <activity
            android:name=".OKUviewBookingDetail"
            android:exported="true" />
        <activity
            android:name=".OKUviewBooking"
            android:exported="true" />
        <activity
            android:name=".OKUEditPersonalDetail"
            android:exported="true" />
        <activity
            android:name=".OKUPersonalDetail"
            android:exported="true" />
        <activity
            android:name=".TransportBooking"
            android:exported="true" />
        <activity
            android:name=".LocationDetail"
            android:exported="true" />
        <activity
            android:name=".FindAPlace"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1LO5nu_pkTndkb_D7eqxfbKp8sBvvnPU" />

        <activity
            android:name=".caregiver.CGBookingPending"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGAcceptedBookingDetail"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGBookingAccepted"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGEditPersonalDetail"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGPersonalDetail"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGBookingDetail"
            android:exported="true" />
        <activity
            android:name=".admin.AdminManageCGDetail"
            android:exported="true" />
        <activity
            android:name=".admin.AdminManageCG"
            android:exported="true" />
        <activity
            android:name=".admin.AdminManageOKUDetail"
            android:exported="true" />
        <activity
            android:name=".admin.AdminBookingDetail"
            android:exported="true" />
        <activity
            android:name=".admin.AdminManageOKU"
            android:exported="true" />
        <activity
            android:name=".admin.AdminManageBooking"
            android:exported="true" />
        <activity
            android:name=".OKUMain"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGMain"
            android:exported="true" />
        <activity
            android:name=".admin.AdminMain"
            android:exported="true" />
        <activity
            android:name=".OKUSignUp"
            android:exported="true" />
        <activity
            android:name=".caregiver.CGSignUp"
            android:exported="true" />
        <activity
            android:name=".admin.AdminSignUp"
            android:exported="true" />
        <activity
            android:name=".admin.AdminLogin"
            android:exported="true" />
        <activity
            android:name=".caregiver.CaregiverLogin"
            android:exported="true" />
        <activity
            android:name=".OKULogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>